<h1>Biomes</h1>

<p>A biome is the step upwards from a habitat. A biome is a general type of ecosystem, with a distinctive climate and similar types of plants and animals. Biomes are further subdivided into <a href="/ecoregions" class="text-lime-600">ecoregions</a>, which describe specific regions within that biome, with their own unique features and biota.</p>

<p>Select a biome to see a list of ecoregions belonging to it.</p>

<hr>

{{> list data}}