<h1>Classes</h1>

<p>Traditionally, living things are classified using a system of taxonomic ranks, with higher ranks encompassing more species. A class is a large taxonomical grouping - the largest we'll deal with here. The step down from a class is an <a href="/orders" class="text-lime-600">order</a>.</p>

<p>Select a class to explore it.</p>

<hr>

{{!-- not using list-item due to different basis class --}}
<div class="flex flex-row flex-wrap text-center">
    <p class="basis-1/4 hover:bg-green-200 hover:font-semibold rounded p-0.5">
        <a href="/classes/1">Amphibia</a>
    </p>

    <p class="basis-1/4 hover:bg-green-200 hover:font-semibold rounded p-0.5">
        <a href="/classes/2">Aves</a>
    </p>

    <p class="basis-1/4 hover:bg-green-200 hover:font-semibold rounded p-0.5">
        <a href="/classes/3">Mammalia</a>
    </p>

    <p class="basis-1/4 hover:bg-green-200 hover:font-semibold rounded p-0.5">
        <a href="/classes/4">Reptilia</a>
    </p>
</div>