<div class="text-center mb-4">
    <h1>Contact and Support</h1>
</div>

<div>
    <p>Wildfinder is currently considered <b>incomplete</b>. Though the WWF did admirable work collecting the original Wildfinder database, there are small errors that you might discover while exploring. Additionally, the Wildfound database is still be upgraded to make it more user-friendly.</p>
    
    <p>If you find an issue with the data (for example, an outdated name) or a glitch in the website itself, email <a href="mailto:foundfootage@protonmail.com" class="text-sky-700">foundfootage@protonmail.com</a> with a description of the problem. If it's a bug report, make sure to include a description of how you found the error so I can replicate it. Please include a subject line that indicates you're reporting an issue with Wildfound.</p>

    <p>If you have a feature request, or there's something that might make the site easier to use, you can send it to the same email address. Again, please indicate in the subject line that it's Wildfound-related!</p>

    <p>If you like Wildfound and want to support the creator, you can tip me on <a href="https://ko-fi.com/finnphillips" class="text-lime-600">Ko-fi</a>.</p>
</div>