<h1>Ecoregions</h1>

<p>The World Wildlife Fund defines an ecoregion in four terms. An ecoregion is a large area with a geographically distinct set of ecosystems, which share the majority of species, have similar environmental conditions, and ecologically depend on each-other. In so many words, an ecoregion is an area within which ecosystems are similar to and depend upon each-other.</p>

<p>To explore ecoregions by <a href="/biomes" class="text-lime-600">biome</a> or <a href="/realms" class="text-lime-600">realm</a>, click the links in the text or on the sidebar. You can also use the search bar below.</p>

<hr>

<form id="search-form" class="flex flex-row gap-2 w-11/12">
    <input 
        type="search"
        placeholder="Search..."
        id="search-input"
        class="border-2 border-slate-200 px-1 py-0.5 flex-auto"
    >

    <button
        type="submit"
        class="flex-none w-40 bg-green-200"
    >Submit</button>
</form>

<section id="search-results" class="flex flex-row flex-wrap mt-2">
</section>

<script src="/js/search.js"></script>