<h1>Families</h1>

<p>The family is the last taxonomic rank that isn't italicized - at least, in the classic eight-rank system, as there is sometimes a tribe rank included between the family and genus. Wildfound does not use tribes, and they aren't used consistently across the tree of life, so for our purposes, the next step down from a family is a <a href="/genera" class="text-lime-600">genus</a>.</p>

<p>To explore families by the <a href="/orders" class="text-lime-600">order</a> they belong to, click the link in the text or on the sidebar. You can also look up families with the search bar below.</p>

<hr>

<form id="search-form" class="flex flex-row gap-2 w-11/12">
    <input
        type="search"
        placeholder="Search..."
        id="search-input"
        class="border-2 border-slate-200 px-1 py-0.5 flex-auto"
    >

    <button
        type="submit"
        class="flex-none w-40 bg-green-200"
    >Submit</button>
</form>

<section id="search-results" class="flex flex-row flex-wrap mt-2">
</section>

<script src="/js/search.js"></script>