<h1>Genera</h1>

<p>Every organism has a scientific name, made up of a genus name, <a href="/species">species</a> name, and sometimes, a subspecies name, together acting as a unique identifier.</p>

<p>To explore genera by the <a href="/families" class="text-lime-600">families</a> they belong to, click the link in the text or on the sidebar. You can also look up genera with the search bar below.</p>

<hr>

<form id="search-form" class="flex flex-row gap-2 w-11/12">
    <input
        type="search"
        placeholder="Search..."
        id="search-input"
        class="border-2 border-slate-200 px-1 py-0.5 flex-auto"
    >

    <button
        type="submit"
        class="flex-none w-40 bg-green-200"
    >Submit</button>
</form>

<section id="search-results" class="flex flex-row flex-wrap mt-2">
</section>

<script src="/js/search.js"></script>