<div class="text-center mb-4">
    <h1 class="text-3xl">Wildfound</h1>
    <p class="text-sm">Your ticket to the wild.</p>
</div>

<div class="mb-4">
    <p>The website of the World Wildlife Fund was once home to a tool called <b>Wildfinder</b>. Though Wildfinder is no longer available, the data used to create it remains freely available for download. <b>Wildfound</b> is the successor to Wildfinder, built upon the same data to fulfill the same purpose - exploring the many ecosystems and species of the world, from the comfort of your browser.</p>

    <p>Though the WWF did admirable work collecting the original Wildfinder database, there are small errors in the data that you may discover while exploring. These issues are being resolved, but Wildfound is currently considered <i>incomplete</i>. If you find an issue, email <a href="mailto:foundfootage@protonmail.com" class="text-sky-700">foundfootage@protonmail.com</a>.</p>

    <p>To begin exploring Wildfound, click one of the links on the sidebar or below.</p>

    <p class="hidden hover:text-lime-600 font-thin text-sm mb-0 italic">this is just here to load in all the styles</p>
</div>

<div class="text-center border p-2">
    <h2 class="text-xl mb-2">Geography</h2>

    <div class="flex flex-row">
        <p class="basis-1/3 link">
            <a href="/realms">Realms</a>
        </p>

        <p class="basis-1/3 link">
            <a href="/biomes">Biomes</a>
        </p>

        <p class="basis-1/3 link">
            <a href="/ecoregions">Ecoregions</a>
        </p>
    </div>

    <hr>

    <h2 class="text-xl mb-2">Taxonomy</h2>

    <div class="flex flex-row">
        <p class="basis-1/5 link">
            <a href="/classes">Classes</a>
        </p>

        <p class="basis-1/5 link">
            <a href="/orders">Orders</a>
        </p>

        <p class="basis-1/5 link">
            <a href="/families">Families</a>
        </p>

        <p class="basis-1/5 link">
            <a href="/genera">Genera</a>
        </p>

        <p class="basis-1/5 link">
            <a href="/species">Species</a>
        </p>
    </div>
</div>