<div>
    <h1 class="text-center text-2xl">Realms</h1>

	<h2 class='text-lg border-b-2 border-lime-600 w-1/5'>
		<a
			href='/realms/aa'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Australasia</a>
	</h2>

	<p>The Australasian realm encompasses Australia, Papua New Guinea, New
		Zealand, and part of the Indonesian archipelago.</p>

	<hr class='my-4' />

	<h2 class='text-lg border-b-2 border-lime-600 w-1/5'>
		<a
			href='/realms/an'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Antarctic</a>
	</h2>

	<p>The Antarctic realm is Antarctica, of course.</p>

	<hr class='my-4' />

	<h2 class='text-lg border-b-2 border-lime-600 w-1/5'>
		<a
			href='/realms/at'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Afrotropical</a>
	</h2>

	<p>The Afrotropical realm includes Africa south of the northern Sahara, as
		well as the southern parts of the Arabian Peninsula.</p>

	<hr class='my-4' />

	<h2 class='text-lg border-b-2 border-lime-600 w-1/5'>
		<a
			href='/realms/im'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Indomalaya</a>
	</h2>

	<p>The Indomalayan realm includes South and much of Southeast Asia,
		including parts of China and excluding the far southeastern portion of
		Maritime Southeast Asia.</p>

	<hr class='my-4' />

	<h2 class='text-lg border-b-2 border-lime-600 w-1/5'>
		<a
			href='/realms/na'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Nearctic</a>
	</h2>

	<p>The Nearctic realm encompasses most of North America, from the far north
		to parts of Mexico.</p>

	<hr class='my-4' />

	<h2 class='text-lg border-b-2 border-lime-600 w-1/5'>
		<a
			href='/realms/nt'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Neotropical</a>
	</h2>

	<p>The Neotropical realm covers all of South America, as well as Central
		America and the southern parts of Mexico</p>

	<hr class='my-4' />

	<h2 class='text-lg border-b-2 border-lime-600 w-1/5'>
		<a
			href='/realms/oc'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Oceania</a>
	</h2>

	<p>The Oceanian realm covers much of the Pacific Ocean - specifically, the
		islands of the Pacific.</p>

	<hr class='my-4' />

	<h2 class='text-lg border-b-2 border-lime-600 w-1/5'>
		<a
			href='/realms/pa'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Palearctic</a>
	</h2>

	<p>The Palearctic realm is the largest biogeographical realm, encompassing
		all of Europe, much of Asia, the northern Sahara, and the northern half
		of the Arabian Peninsula.</p>
</div>