<ul>
    <li>
        <a href="/realms/aa">Australasia</a>
    </li>
    <li>
        <a href="/realms/an">Antarctica</a>
    </li>
    <li>
        <a href="/realms/at">Afrotropical</a>
    </li>
    <li>
        <a href="/realms/im">Indomalaya</a>
    </li>
    <li>
        <a href="/realms/na">Nearctic</a>
    </li>
    <li>
        <a href="/realms/nt">Neotropical</a>
    </li>
    <li>
        <a href="/realms/oc">Oceania</a>
    </li>
    <li>
        <a href="/realms/pa">Palearctic</a>
    </li>
</ul>