<div class='text-center'>
	<h1 class='text-2xl'>Classes</h1>

	<h2 class='text-lg'>
		<a
			href='classes/1'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Amphibia</a>
	</h2>

	<h2 class='text-lg'>
		<a
			href='classes/2'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Aves</a>
	</h2>
	<h2 class='text-lg'>
		<a
			href='classes/3'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Mammalia</a>
	</h2>
	<h2 class='text-lg'>
		<a
			href='classes/4'
			class='text-green-800 hover:text-lime-600 font-semibold'
		>Reptilia</a>
	</h2>
</div>