<h1>Orders</h1>

<p>An order is a mid-level taxonomic rank, the first rank in the latter half of the Linnaean system. The lower half of the taxonomic rank system is where sub- and super-sets become more common, and where the animals within a group start to seem obviously similar. The next step down from an order is a <a href="/families" class="text-lime-600">family</a>.</p>

<p>To explore orders by the <a href="/classes" class="text-lime-600">class</a> they belong to, click the link in the text or on the sidebar. You can also look up orders with the search bar below.</p>

<hr>

<form id="search-form" class="flex flex-row gap-2 w-11/12">
    <input
        type="search"
        placeholder="Search..."
        id="search-input"
        class="border-2 border-slate-200 px-1 py-0.5 flex-auto"
    >

    <button
        type="submit"
        class="flex-none w-40 bg-green-200"
    >Submit</button>
</form>

<section id="search-results" class="flex flex-row flex-wrap mt-2">
</section>

<script src="/js/search.js"></script>