<h1>Realms</h1>

<p>Earth's land is divided into eight biogeographical realms, encompassing enormous regions with broadly distinct fauna. For example, though the same families of animals appear through most of the Old World, but Europe and Sub-Saharan Africa are home to very different species.</p>

<p>Click the name of a realm to explore it.</p>

<hr class="border-2 border-solid">

<section class="grid grid-cols-2 gap-2">
    <div class="border-b">
        <h2 class="text-lg">
            <a href="/realms/aa">Australasia</a>
        </h2>

        <p>The Australasian realm encompasses Australia, Papua New Guinea, New Zealand, and part of the Indonesian archipelago.</p>
    </div>

    <div class="border-b">
        <h2 class="text-lg">
            <a href="/realms/an">Antarctic</a>
        </h2>

        <p>The Antarctic realm is Antarctica, of course.</p>
    </div>

    <div class="border-b">
        <h2 class="text-lg">
            <a href="/realms/at">Afrotropical</a>
        </h2>

        <p>The Afrotropical realm includes Africa south of the northern Sahara, as well as the southern parts of the Arabian Peninsula.</p>
    </div>

    <div class="border-b">
        <h2 class="text-lg">
            <a href="/realms/im">Indomalayan</a>
        </h2>

        <p>The Indomalayan realm includes South and much of Southeast Asia, stretching from southern China to Indonesia.</p>
    </div>

    <div class="border-b">
        <h2 class="text-lg">
            <a href="/realms/na">Nearctic</a>
        </h2>
        
        <p>The Nearctic realm encompasses most of North America, from the far north to parts of Mexico.</p>
    </div>

    <div class="border-b">
        <h2 class="text-lg">
            <a href="/realms/nt">Neotropical</a>
        </h2>

        <p>The Neotropical realm covers all of South America, as well as Central America and the southern parts of Mexico</p>
    </div>

    <div>
        <h2 class="text-lg">
            <a href="/realms/oc">Oceania</a>
        </h2>

        <p>The Oceanian realm covers much of the Pacific Ocean - specifically, the islands of the Pacific.</p>
    </div>

    <div>
        <h2 class="text-lg">
            <a href="/realms/pa">Palearctic</a>
        </h2>

        <p>The Palearctic realm is the largest biogeographical realm, encompassing all of Europe, much of Asia, the northern Sahara, and the northern half of the Arabian Peninsula.</p>
    </div>
</section>