<div class='text-center'>
	<h1 class='text-2xl'>{{data.class_name}}</h1>

	<div class='flex flex-row flex-wrap justify-center'>
		{{#each data.orders as |o|}}
			{{> list-item o}}
		{{/each}}
	</div>
</div>