<div class='text-center'>
	<h1 class='text-2xl'>{{data.order_name}}</h1>

	<div class='flex flex-row flex-wrap justify-center'>
		{{#each data.families as |f|}}
			{{> list-item f}}
		{{/each}}
	</div>
</div>