<div class='text-center'>
	<h1 class='text-2xl'>{{data.family_name}}</h1>

	<div class='flex flex-row flex-wrap justify-center'>
		{{#each data.genera as |g|}}
			{{> list-item g}}
		{{/each}}
	</div>
</div>