<div class='text-center'>
	<h1 class='text-2xl'>{{locate_name data}}</h1>

	<div class='flex flex-row flex-wrap justify-center'>
		{{#each subdata as |s|}}
			{{> list-item s}}
		{{/each}}
	</div>
</div>