<h1 class="text-center text-2xl">{{currentRealm}}</h1>

<div class='divide-y divide-neutral-300'>
	{{#each data}}
		<section class="py-3">
			<h2 class='text-lg font-semibold'>{{biome_name}}</h2>

			<div class='flex flex-row flex-wrap'>
				{{#each ecoregions}}
					<p class="hover:bg-green-200 hover:font-semibold rounded p-0.5 basis-1/3">
                        {{ecoregion_name}}
                    </p>
				{{/each}}
			</div>
		</section>
	{{/each}}
</div>