<h1 class='text-center text-2xl'>{{current}}</h1>

<hr class="my-3">

<div class='divide-y divide-neutral-300'>
	{{#each data as |d|}}
		<section class='py-3'>
			<h2 class='text-lg font-semibold'>{{locate_name d}}</h2>

            {{> list ecoregions}}
		</section>
	{{/each}}
</div>