<h1>Species</h1>

<p>The species is the classical smallest unit of taxonomy, and the smallest unit of conservation. You may have noticed that conversationists rarely talk about saving genera or families! A species is generally defined as a population of organisms that can produce fertile offspring with each-other, though the line between one species and another can be vague and complex, thanks to the endless complexity of genetics and biology.</p>

<p>To explore species by the <a href="/genera" class="text-lime-600">genera</a> they belong to, click the link in the text or on the sidebar. You can also look up species with the search bar below, by their common or scientific name.</p>

<hr>

<form id="search-form" class="flex flex-row gap-2 w-11/12">
    <input
        type="search"
        placeholder="Search..."
        id="search-input"
        class="border-2 border-slate-200 px-1 py-0.5 flex-auto"
    >

    <button
        type="submit"
        class="flex-none w-40 bg-green-200"
    >Submit</button>
</form>

<section id="search-results" class="flex flex-row flex-wrap mt-2">
</section>

<script src="/js/search.js"></script>